@mixin flex($flow, $justify, $align) {
  display: flex;

  @if ($flow == 0) {
    flex-flow: row nowrap;
  } @else {
    flex-flow: $flow;
  }

  @if ($justify == 0) {
    justify-content: center;
  } @else {
    justify-content: $justify;
  }

  @if ($align == 0) {
    align-items: center;
  } @else {
    align-items: $align;
  }
}

@mixin eflex($flow, $justify, $align) {
  @if ($flow == 0) {
    flex-flow: row nowrap;
  } @else {
    flex-flow: $flow;
  }
  @if ($justify == 0) {
    justify-content: center;
  } @else {
    justify-content: $justify;
  }
  @if ($align == 0) {
    align-items: center;
  } @else {
    align-items: $align;
  }
}

@function v($var) {
  @return var(--#{$var});
}

$mobile: 375;
$tablet: 768;
$sdesktop: 1000;
$desktop: 1200;

@mixin mq($size) {
  @if ($size == tablet) {
    @media screen and (min-width: #{$tablet}px) {
      @content;
    }
  }
  @if ($size == desktop) {
    @media screen and (min-width: #{$desktop}px) {
      @content;
    }
  }
  @if ($size == sdesktop) {
    @media screen and (min-width: #{$sdesktop}px) {
      @content;
    }
  }
  @if ($size == mobile) {
    @media screen and (max-width: #{$mobile}px) {
      @content;
    }
  }
}

@mixin center() {
  display: grid;
  place-items: center;
}

@mixin ab-center() {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

// padding mixins

@mixin px($rem-units) {
  padding-left: #{$rem-units}rem;
  padding-right: #{$rem-units}rem;
}

@mixin py($rem-units) {
  padding-top: #{$rem-units}rem;
  padding-bottom: #{$rem-units}rem;
}


//Create a clamp mixin that gives us the correct number for clamp



// $mobile: 375;
// $tablet: 768;
// $sdesktop: 1000;
// $desktop: 1200;
@function fluid($size, $minSize, $maxSize){

  $oneRem: 10;
  

  @if($size == tab){
    $minWidth: $mobile / $oneRem;
    $maxWidth: $tablet / $oneRem;
    $slope: ($maxSize - $minSize) / ($maxWidth - $minWidth);
    $yAxisIntersection: -$minWidth * $slope + $minSize;
    $vwUnits: $slope * 100;

    @return clamp(#{$minSize}rem, #{$yAxisIntersection}rem + #{$vwUnits}vw,#{$maxSize}rem);
  }
  @else if($size == sdesk){
    $minWidth: $mobile / $oneRem;
    $maxWidth: $sdesktop / $oneRem;
    $slope: ($maxSize - $minSize) / ($maxWidth - $minWidth);
    $yAxisIntersection: -$minWidth * $slope + $minSize;
    $vwUnits: $slope * 100;

    @return clamp(#{$minSize}rem, #{$yAxisIntersection}rem + #{$vwUnits}vw,#{$maxSize}rem);
  }
  @else if($size == desk){
    $minWidth: $mobile / $oneRem;
    $maxWidth: $desktop / $oneRem;
    $slope: ($maxSize - $minSize) / ($maxWidth - $minWidth);
    $yAxisIntersection: -$minWidth * $slope + $minSize;
    $vwUnits: $slope * 100;

    @return clamp(#{$minSize}rem, #{$yAxisIntersection}rem + #{$vwUnits}vw,#{$maxSize}rem);
  }


}